<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/styles1.css">
    <link rel="stylesheet" href="/styles/styles2.css">
</head>
<body>
    <form>
        <h1>Global Commerce</h1>
        <p>Log into your account</p>
        <div class="container">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>

            <label for="passwd">Password</label>
            <input type="password" id="passwd" name="passwd" placeholder="Enter your Password" required>

            <div class="btn-group">
                <button type="submit" class="btn-signin">Sign In</button>
            </div>
            
            <label for="no-account">
                <p class="create-account">Don't have an account? <a href="/templates/signup_page.html">Sign Up</a></p>
            </label>
        </div>
    </form>
</body>
</html>